<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sessiya2.Properties.Settings.ConnectionString" connectionString="Provider=SQLNCLI11;Data Source=kpkserver.kpk.local;Integrated Security=SSPI;Initial Catalog=RCH_Khudiakov"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>